{% extends 'moneymanagerapp/base.html' %}
{% load i18n %}
{% block title %}{% trans "Create transaction" %}{% endblock %}

{% block content %}
<h2>{% blocktrans with transaction_type=view.kwargs.type %}Create {{ transaction_type }} transaction{% endblocktrans %}</h2>
<form method="post">
   {% csrf_token %}
   {{ form.as_p }}
   <input type="submit" value="{% trans "Create" %}"></input>
</form>
<script type="text/javascript">
    function replaceDate() {
    var $currentdate = new Date();
    var $datetime = $currentdate.getFullYear() + "-"
                   + ($currentdate.getMonth()+1)  + "-"
                   + $currentdate.getDate()
   $("#id_date").val($datetime);
}
replaceDate();
</script>
{% endblock %}
