body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 0;
	color: #313131;
	min-height: 100%;
}

form {
    width: 400px;
	 margin: 0 auto;
}

form ul {

}

form ul li, form .helptext {
    color: gray;
    font-size: 12px;
	 display: block;
	 margin-top: 5px;
	 text-align: right;
	 margin-right: 15px;
}

form label {
    width: 150px;
    display: inline-block;
	 text-align: left;
}

form input, select {
	padding: 5px;
	border-radius: 4px;
	border: 2px solid #ccc;
}

form input {
    width: 200px;
}

form select {
    width: 214px;
}

input[type="button"],input[type="submit"] {
	padding: 8px;
	border-radius: 6px;
	background-color: black;
	border-color: black;
	cursor: pointer;
	color: white;
	font-weight: bold;
}

.transaction {
	padding: 12px;
	margin-top: 11px;
	font-size: 19px;
	background-color: #f9f9f9;
}
